@import '~/styles/utils';

.container {
  padding-top: calc($header-height * 2); // save space for navs
  padding-right: $side-padding;
  padding-left: $side-padding;
  background: $color-light-light-gray;
}
